
.c-mainb{
    position:fixed;
    margin:auto;
    
    background: rgba(255, 255, 255, 0.952);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
    min-height:2rem;
    padding:2rem;
}